*{margin: 0px;padding: 0px;}
body{font-size: 62.5%;}
.body{width: 100%;margin-left: auto;margin-right: auto;background-image: url("/webDesign/Public/img/bg.jpg");}
.footer{width: 100%;background-color: #9e9e9e;height: 150px;color: white;text-align: center;font-size: 3em;}
.footer_nav{width: 40%;height: 100%;margin: auto;padding-top: 30px;}
.footer_img{display: block;position: absolute;width: 100px;height: 100px;left: 30%; }
hr{margin: 0px;}
/*layout部分*/
.navbar{font-size: 3em;background-color: #dc3545!important;}
.navbar-nav{width: 70%;float: left;}
.userbar {list-style: none;position:relative;float: left;width: 25%;}
.userbar li{position: relative;float: right;padding-top:18px;padding-right: 7px;padding-left: 7px;width: 33%;overflow: hidden;text-align: center;}
.user-link{color: rgba(255,255,255,.5)}
.form-control,#loginBtn,#registerBtn{width:70%;margin: auto;display: block;}
#verifyCode1,#verifyCode2{border:0px;width:80%;}
#verifyCode1 img{position: absolute;right: 0px;}
.logo{width: 100px;height:60px;}
.logo img{margin-top: -10px;}
.searchframe{width: 40%;padding-left: 7%;}
.inputframe{position: relative;display: inline-block;font-size: 0.8em;top:20%;width: 90%;}
.inputframe input{float: left;width: 100%;}
.inputframe button{display: inline-block;width: 15%;height:100%;position:absolute;right:0px;top: 0px;}
/*轮播部分*/
#picture{position: relative;width: 60%;margin: 0 auto;overflow: hidden;}
#picture img{width: 100%;}
/*主体部分*/
.content1,.content2{display:inline-block;width: 60%;height: auto;margin-left:20% ;background-color: white;min-height: 600px;}
.content1{margin-bottom: -4px;}
.mainCard{display: inline-block;float: left;width: 40%;margin-top: 5%;margin-left: 6.5%;font-size: 1.5em;border: 1px solid red;border-radius: 5px;}
.mainCard h1{padding-left: 10%;padding-top: 20px;}
.mainCard ul{padding-left: 10%;float: left;width: 80%;}
.mainCard li{width: 100%;padding-bottom: 10px;height: 1.5em;overflow: hidden;list-style-position: inside; }
.mainCard a{color: black;}
.mainCard:hover{background-color:#9e9e9e; }
.mainCard h1 a:hover{text-decoration: none;}
/*咨讯大纲页*/
.kindName{padding-left: 5%;padding-top: 20px;padding-bottom: 20px;font-size:5em;}
.info{width: 100%;font-size: 1.5em;padding: 20px;border-bottom: 1px solid rgba(0,0,0,.3);}
.infoTitle{color: black};
.infoTitle:hover{color: #690;text-decoration: none!important;}
.infoContent{line-height: 24px;color: #9e9e9e;max-height: 70px; overflow: hidden;}
.pageInfo{font-size: 2.5em;}
.scanNumber{float: right;}
/*咨讯详情页*/
.infoDetail{font-size: 2em;padding: 40px;position: relative;}
.infoDetail h1,.infoDetail h5{text-align: center;padding-bottom: 10px;width: 80%;margin: 0 auto;}
.infoDetail p,.commentFrame,.commentList,{width: 80%;margin:0 auto;}
.commentFrame{margin-top: 80px;margin-bottom: 40px;}
.tips{float: right;width: 300px;height: 100px;overflow: hidden;}
.like,.collect{position: relative;font-size: 1.5em;margin-left: 50px;color: grey;text-align: center;display: inline-block;}
.comment{width: 100%;}
.submitBtn{float: right;}
.commentList .pageInfo{font-size: 1em;}
.commentList h2{color: blue}
.commentDetail{width: 100%;margin:0 auto;float: left;border: 1px dashed grey;margin-bottom: 10px;overflow: hidden;}
.commnentTop{float: left;width: 100%;overflow: hidden;background-color:#17a2b8}
.commnentTop span{float: right;}
.commnentTop img{width: 34px;height: 35px;}
.commnentbottom p{height: 70px;overflow: hidden;width: 100%;font-size: 0.8em;}
.commnentbottom{overflow: hidden;height: 70px;float: left;}
/*个人空间页*/
.userInfo{border: 1px dashed black;width: 80%;margin: 20px 10%;border-radius: 10px;float: left;padding: 10px;}
.infoRight{float: left;width: 55%;font-size: 2em;margin-top: 20px;}
.infoRight label{display: inline-block;width: 20%;text-align: right;margin: 10px 0;}
.infoRight span{display: inline-block;width: 20%;text-align: left;}
.infoLeft{float: left;width: 35%;margin: 20px;}
.sortPage{float: left;font-size: 2em;display: inline-block;}
.sortPage ul{background-color:#F0FFFF}
.sortPage ul li{margin: 20px;}
/*upload*/
.error {font-size: 18px;font-weight: bold;color: red;margin:10px 0;display: inline-block;}
label{width:60px;display: inline-block}
.border{position: relative;max-height: 300px;width: 100px;height: 100px;z-index: 0;overflow: hidden;}
#icon{width: 100px;height: 100px;position: absolute;left: 0px;}
#preview{position: absolute;left: 0px;}

